.boton1 {
    background-color: #176060;;
    text-decoration: none;
    display: block;
    width: 90px;
    text-align: center;
    color: white;
    padding: 5px 5px;
    transition: all 0.3s;

}

.boton1:hover {
    box-shadow: 0px -5px 0 #3f3e3e inset;
    color: black;
}
