.footer {

    display: flex;
    justify-content: center;
    background: #2d2d2d;
}



.footerContainer {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.socialBlock{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: -5px;
    padding: 5px;

}
.title{

    color: #9b9595;
}
.copyRight {


    color: white;
}

